@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

main h1{
    font-size: 3.5rem;
    text-align: center;
    padding: 2rem;
}

main ol {
    margin-left: 2em; /* Add some left margin to the list */
    
    
  }
  
main li {
    padding: 2rem;
    text-align: left; /* Set the text alignment to left */
    writing-mode: horizontal-tb; /* Set the writing mode to horizontal */
    text-orientation: mixed; /* Set the text orientation to mixed */
    white-space: nowrap; /* Prevent the text from wrapping */
    margin-left: 1em; /* Add some bottom margin to the list items */
    font-size: medium;
    
  }

  .button {
    position: absolute;
    top: 0;
    right: 1;
    padding: 1rem;
    font-size:large;  
    }
  
  .button a{
    background: linear-gradient(to top left, #753682 0%, #bf2e34 100%); color: #fff;
    text-decoration: none;
  }
  
  .button a:hover{
    background: linear-gradient(to top left, #bf2e34 0%, #753682 100%); color: #fff;
    font-size:larger;
    text-decoration: none;
  }